body {
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    width: 100%;  
}
/* Header + menu */
.header {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 100%;
    background-color: rgb(250, 248, 248);
    min-height: 170px;
    max-height: 250px;
    
}
h1 {
    /* margin-top: 10px; */
    font-size: 36px;
    margin-left: 200px;
    text-transform: uppercase;
    font-weight: 800;
    
}
.header p {
    margin-left: 205px;
    margin-top: -35px;
    font-size: 16px;
    font-weight: 500;
    color:rgb(138, 133, 128)
}
.menu {
    width: 100%;
    height: 100px;
    max-height: 300px;
    display: flex;
    border-top: 1px solid rgb(235, 235, 235);
    border-bottom: 1px solid rgb(235, 235, 235);
    border-left: 0px;
    border-right: 0px;
    display: flex;
    align-items: center;
    
}
.menu-list {
    margin-left: 160px;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.menu-button {
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
}
.menu-button:hover {
    color: grey;
}
/* Main */
.main-img {
    /* height: 704px; */
    width: 100%;
    
}
.info {
    display: flex;
    /* flex-direction: row; */
    /* width: 100%; */
    min-height: 100vh;
    /* margin-left: 200px; */
    /* margin-left: 200px; */
    /* justify-content: space-evenly;*/
    align-items: baseline; 
    flex-wrap: wrap;
    justify-content: center;

}
.webdev-ind {
 
    width: 425px;
    height: 610px;
    align-items: space-around;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    /* flex-wrap: wrap; */

}
h2 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 800;
}
.webdev-ind p  {
    font-size: 14px;
    color: rgb(114, 110, 106);
    font-weight: 500;
}
.webdev-partic {
    
    width: 600px;
    height: 610px;
    align-items: space-around;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    /* flex-wrap: wrap; */

}
h3 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
}
.webdev-partic p {
    margin-top: -20px;
    font-size: 16px;
    color: rgb(114, 110, 106);
    font-weight: 500;
}
.gallery {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 425px;
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;
    /* flex-wrap: wrap; */

}
.gallery p {
    font-size: 14px;
    color: rgb(114, 110, 106);
    font-weight: 400;
}
.logos-web {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 600px;
    height: 500px;
}
.logo-list {
    display: flex;
    width: 600px;
    list-style-type: none;
    align-items: space-between;
    flex-wrap: wrap;
    padding-inline-start: 0px;
}
.icon {
    margin-right: 22px;
    height: 128px;
}
/* Footer */

footer {
    display: flex;
    background-color:rgb(102 53 204);
    color: white;
    justify-content: space-evenly;

}
footer ul {
    list-style-type: none;
    width: 200px;
    padding-inline-start:20px;
}

.list-head {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.place {
    font-size: 15px;
    font-weight: 600;
}
.foot-text {
    font-size: 13px;
    font-weight: 400;
}
.foot-butn {
    display: inline-block;
    padding-top: 15px; 
    padding-bottom: 10px; 
    width: 200px;
    border-top: 1px solid rgb(113 72 194);
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.foot-butn_noborder {
    border: none;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 10px;  
    width: 150px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.foot-butn:hover {
    margin-left: 15px;
}
.foot-butn_noborder:hover {
    margin-left: 15px;
}

iframe {
    width: 200px;
    height: 200px;
    border-style: none;
}
.foot-butn_margin {
    /* padding-top: 15px; */
    margin-top: 10px;
    margin-bottom: 10px;
     /* width: 300px;  */
    /* border-top: 1px solid rgb(235, 235, 235);  */
}
/* footer ul {
    display: flex;
    justify-content: space-evenly;
} */